//- footer link lists
-var list1= ["Tài khoản của tôi","Sản phẩm yêu thích","Lịch sử mua hàng","Chính sách đổi trả","Góp ý, khiếu nại"];
-var list2= ["Hệ thống cửa hàng","Hướng dẫn mua hàng","Hướng dẫn thanh toán","Tích điểm đổi quà","Câu hỏi thường gặp"];
-var list3= ["Chính sách giao hàng","Chính sách đổi trả sản phẩm","Chính sách bảo hàng","Giới thiệu sản phẩm mới","Chính sách trả góp"];
-var list4= ["Tin mới","Khuyến mại","Tuyển dụng","Download","Tags"];
-var list5= ["Sitemap","Danh mục sản phẩm","Hợp tác","Thông tin liên hệ","Câu hỏi thường gặp"];
-var list6= ['<i class="fab fa-cc-visa"></i>','<i class="fab fa-cc-mastercard"></i>','<i class="fab fa-cc-paypal"></i>','<i class="fab fa-cc-discover"></i>'];
-var list7=["Cây chậu treo","Cây cỏ hoa","Cây dây leo","Cây để bàn","Cây may mắn","Cây trang trí","Cây nội thất"];
-var list8=["200.000 Đ - 400.000 Đ","400.000 Đ - 600.000 Đ","600.000 Đ - 800.000 Đ","800.000 Đ - 1.000.000 Đ","1.000.000 Đ - 2.000.000 Đ"]
//-social media 
-var social= ["fab fa-facebook-f","fab fa-twitter","fab fa-tumblr","fab fa-vimeo-v"];
//-slider
-var slider1="assets/images/slide-1920x590.png";
-var slider2="assets/images/slide-1920x590-1.png";
-var slider3="assets/images/slide-1920x590-2.png";
//-star-rate
-var star='<i class="fas fa-star"></i>'+'<i class="fas fa-star"></i>'+'<i class="fas fa-star"></i>'+'<i class="fas fa-star"></i>'+'<i class="fas fa-star-half-alt"></i>';
//-tag color
-var green ='background-color: rgb( 63, 184, 113 );';
-var red = 'background-color: rgb( 237, 28, 36 );';
-var red_orange='background-color: rgb(212, 105, 23);';
-var purple='background-color: rgb(155, 23, 212)';
-var sky= 'background-color: rgb(23, 108, 212)';
-var yellow='background-color: rgb(193, 212, 23)';
-var pink='background-color: rgb(212, 23, 171)';
//-hot-product-image
-var image1='assets/images/sp/sp1.png';
-var image2='assets/images/sp/sp2.png';
-var image3='assets/images/sp/sp3.png';
-var image4='assets/images/sp/sp4.png';
-var image5='assets/images/sp/sp5.png';
-var image6='assets/images/sp/sp6.png';
-var image7='assets/images/sp/sp7.png';
-var image8='assets/images/sp/sp8.png';
-var image9='assets/images/sp/sp9.png';
-var image10='assets/images/sp/sp10.png';
-var image11='assets/images/sp/sp11.png';
-var image12='assets/images/sp/sp12.png';
-var image13='assets/images/sp/sp13.png';
-var image14='assets/images/sp/sp14.png';
-var image15='assets/images/sp/sp15.png';
//-isNotTag
-var isTag = "display:block;"
//-blog from home page
-var blogImg1="assets/images/news1.png";
-var blogImg2="assets/images/news2.png";
-var blogImg3="assets/images/news3.png";
-var blogTitle1="15 thiết kế phòng ngủ tuyệt đẹp làm vạn người mê";
-var blogTitle2="Tạo Tiểu Cảnh Cho Góc Sân Nhà Phố, Biệt Thự đẹp";
-var blogTitle3="Cách bố trí chậu trước cửa ấn tượng";
-var blogContent1="Cùng Sài Gòn Hoa tìm hiểu một vài xu hướng thiết kế sân vườn đưowjc ưa chuộng nhất hiện nay nhé. Kết hợp hàng rào...";
-var blogContent2="Khi bước từ ngoài ngõ vào hay trong nhà đi ra góc sân luôn là điểm nhìn đầu tiên của chúng ta...";
-var blogContent3="Như thể sự thân thiện, hiếu khách của gia chủ. Phần không gian trước cửa...";
//-blog page
-var hotBlogImg1 = "assets/images/blogs/hot-blog1.png";
-var hotBlogImg2 =  "assets/images/blogs/hot-blog2.png";
-var hotBlogImg3 =  "assets/images/blogs/hot-blog3.png";
-var hotBlogImg4 =  "assets/images/blogs/hot-blog4.png";
-var hotBlogImg5 =  "assets/images/blogs/hot-blog5.png";
-var hotBlogText1 = "Hướng dẫn lựa chọn và bố trí cây xanh trong phòng khách";
-var hotBlogText2 = "Những sai lầm nên tránh khi bố trí cây xanh trong nhà";
-var hotBlogText3 = "7 loại cây xanh để bàn đang được giới văn phòng ưa chuộng";
-var hotBlogText4 = "Hướng dãn lựa chọn cây cảnh trang trí văn phòng";
-var hotBlogText5 = "4 loại cây cảnh thích hợp bày trí ở khu vực đại sảnh";
//- blog tag
-var blogTag1 = "Cây văn phòng";
-var blogTag2 = "Cây phát lộc";
-var blogTag3 = "Cây xanh";
-var blogTag4 = "Cây trang trí";
-var blogTag5 = "Cây";
-var blogTag6 = "Plants";
-var blogTag7 = "Sức khỏe";
-var blogTag8 = "Quà tặng";
-var blogTag9 = "Lưu niệm";
//-blog
-var blogTitle1 = "Cách bố trí chậu hoa trước cửa gây ấn tượng đầu tiên";
-var blogTitle2 = "Hướng dẫn lựa chọn và bố trí cây xanh trong phòng khách";
-var blogTitle3 = "7 loại cây xanh để bàn đang được giới văn phòng ưa chuộng";
-var blogImg1 = 'assets/images/blogs/blog1.png';
-var blogImg2 = 'assets/images/blogs/blog2.png';
-var blogImg3 = 'assets/images/blogs/blog3.png';
-var blogText="Như thể hiện sự thân thiện cũng như hiếu khách của gia chủ, phần không gian trước cửa luôn được đầu tư và trang trí khá bắt mắt. Cũng có thể nói đây là bộ mặt  của ngôi nhà, là ấn tượng đấu tiên khi 1 vị khach ghé chơi nhà bạn đấy. Hãy cùng Sài Gòn hoa tham khảo một vài cách bố tri chậu cây hoa cảnh ngay trước cửa nhà sao cho thật ấn tượng nhé! "
-var blogText1= "7 loại cây xanh để bàn đang được giới văn phòng ưa chuộng. Những mẫu cây để bàn đang được giới văn phòng ưa chuộng, cây cảnh để bàn văn phòng thông dụng, những cây cảnh đang được giới văn phòng ưa chuộng.";
-var blogText2= "Cây bạch mã hoàng tử để bàn có chiều cao trung bình từ 20-40 cm, dáng đẹp lá cây màu xanh đậm với những được vân màu vàng nhạt mọc đối xứng nhau trông rất sang trọng và lịch lãm";
-var blogText3="Loại cây này ưa bóng, chịu được nhiệt độ thấp lại có khả năng tạo ẩm thanh lọc không khí nên rất thích hợp đặt trong văn phòng làm việc có máy lạnh.";
-var blogText4="Cây bạch mã hoàng tử thường được đặt ở bàn lam việc của sếp, bàn nhỏ tiếp khach hoặc bàn làm việc của các đấng mày râu.";
//-avatar
-var avatar="assets/images/avatar.jpg";
//-banner products page
-var bannerProduct="assets/images/banner-product-page.png";
//- detail product text
-var detailProductText1="Tên phổ thông: Dạ lam, Huỳnh tinh cảnh, Dong vằn";
-var detailProductText2="Tên khoa học: Calathea zebrina";
-var detailProductText3="Họ thực vật: Manrantaceae (Củ dong)";
-var detailProductText4="Chiều cao: 0.8-1.2m";
-var detailProductText5="Cây dạ lam có nguồn gốc brasil, được du nhập và phân bố rộng khắp Việt Nam";
-var detailProductText6="Cây mọc thành bụi thưa, thân vươn thẳng với chiều cao cây trung bình từ 0,8-1,2m. Lá hình trứng, mép lá nguyên, gân lá nổi rõ, phiến rộng khoảng từ 15-20cm. Lá có màu xanh đậm ở mặt trên, quanh gân lá có màu trắng sữa; mặt dưới lá nhạt màu hơn. Lá cây dạ lam mọc cách, cuống lá dài khi rụng để lại các khía màu nâu nhạt."
