body{
    margin: 0px;
    position: relative;
}
.red-box{
    position: absolute;
    height: 400px;
    width: calc((100% - 30px) / 3);
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.green-box{
    position: absolute;
    height: 400px;
    width: calc((100% - 30px) / 3);
    background-color: green;
    color: white;
    left:  calc((100% - 30px) / 3 + 15px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue-box{
    position: absolute;
    height: 400px;
    width: calc((100% - 30px) / 3);
    background-color: blue;
    right: 0px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}