body{
   background-image: url(./hinh-nen-dep-nhat-the-gioi-2.jpg);
   background-size: cover;
   color: #fff;
   text-shadow: 1px 1px #000;
}
.weather{
    width: 400px;
    height: 410px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    border-radius: 40px;
}
.weather h1{
    margin-bottom: 0;
    font-size: 300%;
    margin-top: 2px;
}
.weather h2{
    margin-top: 0;
    font-size: 200%;
}
.weather h3{
    margin-bottom: 0;
}
.weather p{
    font-size: 120%;
    text-transform: capitalize;
}
.weather input{
    height: 20px;
    padding: 10px;
    font-size: 100%;
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    border: none;
    outline: none;
}
.btn-search{
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    cursor: pointer;
    outline: none;
}
.btn-search:active{
    font-size: 11px;
}

@media screen and (max-width:400px){
    body{
        background-size: unset;
        background-position: center;
    }
    .weather{
        top: 40%;
        width: 300px;
    }
    .weather input{
        height: 15px;
        width: 150px;
    }
    .btn-search{
        padding: 10px 27px;
    }
    .weather h1{
        font-size: 200%;
    }
}