.about{
    background-image: url('https://besthqwallpapers.com/Uploads/29-4-2019/89433/thumb2-floral-background-paper-texture-background-with-red-flowers-pink-background-floral-frame.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 0;
    h3{
        margin: 0 0 5rem 0;
        color: rgb( 63, 184, 113 ) ;
    }
    p{
        font-size: 1.5rem;
        margin: 5rem 0;
        text-shadow: 1px 1px 5px gray;
    }
}